@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: linear-gradient(220.55deg, #4643df 0%, #0b0a47 100%);
  --secondary-color: #0b0a47;
}

::-webkit-scrollbar {
  width: 0px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: -4px 5px 17px rgb(0 0 0 / 20%);
}

body {
  font-family: "Poppins", sans-serif;
}
.comingsoon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: gray;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: var(--primary-color);
  font-weight: bold;
  color: white;
  font-size: 2rem;
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%);
}

main {
  width: 100%;
  padding: 5%;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #a1a1a1;
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%), 4px 5px,
    4px -5px 17px 0px rgb(0 0 0 / 20%), -4px -5px;
  transition: 0.1s all ease;
}

.Image {
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: auto;
  transition: 0.1s all ease;
}
.Image:hover {
  transition: 0.1s all ease;
  transform: scale(1.1);
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%);
}

.Details {
  text-align: center;
}
a {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  margin: 5px;
}
a:hover {
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%);
  background: var(--secondary-color);
}
.Buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  margin: 5px;
}
@media screen and (max-width: 322px) {
  .Buttons {
    flex-direction: column;
  }
  section {
    margin-top: 20%;
  }
}
@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
