@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #000814;
  --secondary-color: #ffc300;
  --text-color: #000000;
  --card-background: #e5e5e5;
  --background: hsl(190 60% 98%);
}

::-webkit-scrollbar {
  width: 0px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
}
body.dark {
  --primary-color: #ffc300;
  --secondary-color: #000814;
  --text-color: #e5e5e5;
  --card-background: #000814;
  background: var(--secondary-color);
}
.comingsoon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: gray;
}
main {
  width: 100%;
  padding: 5%;
}
.Filter-SearchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.ProjectsSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card-container {
  perspective: 1000px;
}
.card-body {
  transform-style: preserve-3d;
}
.card-item {
  transition: 0.3s all ease;
  transition: transform 0.2s ease-linear;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--card-background);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #a1a1a1;
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%), 4px 5px,
    4px -5px 17px 0px rgb(0 0 0 / 20%), -4px -5px;
  transition: 0.1s all ease;
  color: var(--text-color);
}

.Image {
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%);
}

.Details {
  text-align: center;
}
a {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  margin: 5px;
}
a:hover {
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%);
  background: var(--secondary-color);
  color: var(--primary-color);
}
.Buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  margin: 5px;
}
/* Search Box Styles */
.searchBox {
  display: flex;
  max-width: 320px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(
    --gradient-2,
    linear-gradient(90deg, #2af598 0%, #009efd 100%)
  );
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 1.5rem;
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}
/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.pagination button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 15px;
  font-weight: 600;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  &:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  }
  &:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }
}
.pagination div {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination div > span {
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  color: var(--text-color);
  &:hover {
    background: #afb0b1;
  }
  &.activePaginationPage {
    background: var(--primary-color);
    color: var(--secondary-color);
  }
}
@media screen and (max-width: 322px) {
  .Buttons {
    flex-direction: column;
  }
  .ProjectsSection {
    margin-top: 20%;
  }
}
@media screen and (max-width: 600px) {
  .Filter-SearchBox {
    flex-direction: column;
    justify-content: space-between;
    min-height: 30dvh;
  }
}
@media screen and (min-width: 1200px) {
  .ProjectsSection {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
