@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
*::selection {
  color: #070096;
}
.comingsoon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: gray;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #009688;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%);
}

main {
  width: 100%;
  padding: 5%;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #a1a1a1;
  box-shadow: -4px 5px 17px 0px rgb(0 0 0 / 20%), 4px 5px,
    4px -5px 17px 0px rgb(0 0 0 / 20%), -4px -5px;
  transition: 0.1s all ease;
}
section:hover .project:not(:hover) {
  transform: scale(0.99);
}
.Image {
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: auto;
  transition: 0.1s all ease;
}
.Image:hover {
  transition: 0.1s all ease;
  transform: scale(1.1);
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.Details {
  text-align: center;
}

.Buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 10px;
  margin: 5px;
  background: #009688; /* #007bff  #3F51B5*/
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #2f887f;
}
i {
  margin: 5px;
}
@media screen and (max-width: 322px) {
  .Buttons {
    flex-direction: column;
  }
}
